body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.navbar-inverse .navbar-brand {
    font-family: 'Lobster', sans-serif;
    color: #FF8E8E;
    font-size: 3rem;
    line-height: 1.5rem;
}

.first-fold, .second-fold {
    text-align: center;
}

.first-fold h1 {
    margin: 10rem 0 5rem;
}

.first-fold img {
    margin: 3rem 0;
}